<% layout('../../../layouts/client/login-app') %>

<div class="full-page login-page" filter-color="black" data-image="/public/client/img/login.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form method="post" action="">
                        <div class="card card-login card-hidden">
                            <div class="card-header text-center" data-background-color="rose">
                                <h4 class="card-title">Tutor Login</h4>
                            </div>
                            <div class="card-content">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email address</label>
                                        <input type="text" class="form-control" name="email" value="<%= old('email') %>">
                                    </div>
                                </div>
                                <p class="text-center color-red"><%= errors('email') %></p>

                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                </div>
                                <p class="text-center color-red"><%= errors('password') %></p>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
